/******************************************************
1. Universal styles  
2. Frameworks Overrides
3. EMC Specific
4. Navigation
5. Project Specific
6. Helpers
7. Media Queries / Device Specific CSS 
******************************************************/

/*******************************
1. Universal styles (I.E. body, h1, div, img, p, ul, li, b...)
*******************************/

body {
	background: #efefef url(img/gray_jean.png);
	color: #000;
	font: normal 0.9em/150% 'Arial', arial, verdana, sans-serif;/*Arimo*/
	margin: 0;
	padding: 0 0 0 0;
	text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}



/*******************************
2. Frameworks Overrides
*******************************/
/*---KICKSTART UI OVERRIDES--------*/
/*added this because it was effecting modal box/jquery UI elements/widgets*/

button,
a.btn,
a.btn:visited,
a.button,
a.button:visited,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	left: auto;
}

/*---------------------------------
	BLUE
-----------------------------------*/
button.blue,
a.btn.blue,
a.button.blue,
input[type=submit].blue,
input[type=reset].blue,
input[type=button].blue{
	text-shadow:0 -1px 0 #1D6DC1;
	color:#fff;
	border:1px solid #1D6DC1;
	background: rgb(73,158,217); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,158,217,1) 0%, rgba(41,147,226,1) 44%, rgba(21,111,172,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,158,217,1)), color-stop(44%,rgba(41,147,226,1)), color-stop(100%,rgba(21,111,172,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,158,217,1) 0%,rgba(41,147,226) 44%,rgba(21,111,172,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,158,217,1) 0%,rgba(41,147,226) 44%,rgba(21,111,172,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(73,158,217,1) 0%,rgba(41,147,226) 44%,rgba(21,111,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499ed9', endColorstr='#156fac',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(73,158,217,1) 0%,rgbargba(41,147,226) 44%,rgba(21,111,172,1) 100%); /* W3C */
	behavior: url(PIE.htc);
}
	
button.blue:hover,
a.btn.blue:hover,
a.button.blue:hover {
	text-shadow:0 1px 0 #1D6DC1;
	border:1px solid #1D6DC1;
	background: rgb(21,111,172); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(21,111,172,1) 0%, rgba(41,147,226,1) 44%, rgba(73,158,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,111,172,1)), color-stop(44%,rgba(41,147,226,1)), color-stop(100%,rgba(73,158,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(21,111,172,1) 0%,rgba(41,147,226,1) 44%,rgba(73,158,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(21,111,172,1) 0%,rgba(41,147,226,1) 44%,rgba(73,158,217,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(21,111,172,1) 0%,rgba(41,147,226,1) 44%,rgba(73,158,217,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(21,111,172,1) 0%,rgba(41,147,226,1) 44%,rgba(73,158,217,1) 100%); /* W3C */
	behavior: url(PIE.htc);
}

/*---------------------------------
	GRAY
-----------------------------------*/

button.gray,
a.btn.gray,
a.button.gray,
input[type=submit].gray,
input[type=reset].gray,
input[type=button].gray{
	text-shadow:0 -1px 0 #1D6DC1;
	color:#fff;
	border:1px solid black;
	background: rgb(136,141,144); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(136,141,144,1) 0%, rgba(110,120,130,1) 44%, rgba(50,67,75,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,141,144,1)), color-stop(44%,rgba(110,120,130,1)), color-stop(100%,rgba(50,67,75,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(136,141,144,1) 0%,rgba(110,120,130,1) 44%,rgba(50,67,75,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(136,141,144,1) 0%,rgba(110,120,130,1) 44%,rgba(50,67,75,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(136,141,144,1) 0%,rgba(110,120,130,1) 44%,rgba(50,67,75,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D6DC1', endColorstr='#4e5255',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(136,141,144,1) 0%,rgba(110,120,130,1) 44%,rgba(50,67,75,1) 100%); /* W3C */
	behavior: url(PIE.htc);
}
	
button.gray:hover,
a.btn.gray:hover,
a.button.gray:hover {
	text-shadow:0 1px 0 #1D6DC1;
	border:1px solid black;
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(50,67,75,1) 0%, rgba(110,120,130,1) 44%, rgba(136,141,144,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,67,75,1)), color-stop(44%,rgba(110,120,130,1)), color-stop(100%,rgba(136,141,144,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(50,67,75,1) 0%,rgba(110,120,130,1) 44%,rgba(136,141,144,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(50,67,75,1) 0%,rgba(110,120,130,1) 44%,rgba(136,141,144,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(50,67,75,1) 0%,rgba(110,120,130,1) 44%,rgba(136,141,144,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5255', endColorstr='#1D6DC1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(50,67,75,1) 0%,rgba(110,120,130,1) 44%,rgba(136,141,144,1) 100%); /* W3C */
	behavior: url(PIE.htc);
}

.callout {
	background: #4598ef;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
	color: #fff;
	display: block;
	padding: 3em 0;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}	

/*---JQUERY UI OVERRIDES--------*/
.ui-widget-overlay {
	background: #333 url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	filter: Alpha(Opacity=70);
	opacity: .7;	
}

/*---FLEXSLIDER OVERRIDES--------*/
.flex-direction-nav a  { 
	padding-top: 10px;
}


/*******************************
3. EMC Specific
*******************************/

/*---------------------------------
	Colors
-----------------------------------*/

.emc-color-1 {
	color: #2993E2;
}

.emc-color-2 {
	color: #babcbe;
}

.emc-color-3 {
	color: black;
}

.emc-color-4 {
	color: white;
}

.emc-color-1-bg {
	background-color: #2993E2;
}

.emc-color-2-bg {
	background-color: #babcbe;
}

.emc-color-3-bg {
	background-color: black;
}

.emc-color-4-bg {
	background-color: white;
}

.rsa-color-1 {
	color: #f00232;
}

.rsa-color-2 {
	color: #888d90;
}

.rsa-color-1-bg {
	background-color: #f00232;
}

.rsa-color-2-bg {
	background-color: #888d90;
}

footer {
	margin: 0;
	padding: 1em;
	width: 100%;
}


/*******************************
4. Navigation
*******************************/

.navbar {
	background: #000;
	color: #fff;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.navbar #logo {
	color: #efefef;
	font-size: 1.7em;
	padding: 0.5em 1em;
	position: absolute;
	right: 0;
	text-decoration:none;
	top: 0;
}

.navbar span {
	color:#86dc00;
}

.navbar ul {
	display:inline-block;
	margin:0;
	padding:0;
}

.navbar li {
	margin:0;
	padding:0;
	list-style-type:0;
	display:inline-block;
}

.navbar li a {
	color:#efefef;
	display:inline-block;
	font-size: 1.2em;
	line-height:100%;
	padding:1em 1.3em;
	text-decoration:none;
	text-transform: uppercase;
}


/*******************************
5. Project Specific
*******************************/


/*******************************
6. Helpers
*******************************/

.uppercase { 
	text-transform:uppercase;	
}

.knockout { 
	color:white;
}

.border { 
	border:1px solid black;
}

.show {
	display:block;
}


